---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon-32x32.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{`${title} | Frontend Mentor`}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style>
	body {
		background-image: url('/bg-intro-mobile.png');
		background-color: #ff7978;
	}
	@media (min-width: 768px) {
		body {
			background-image: url('/bg-intro-desktop.png');
		}
	}
</style>
